{% extends 'base.html'%}
{% load static %} {% block content %}

<div id="index-section1">
<!--    <a href="#index-section2" class="btn btn-info categoryButton" id="">Choose Category</a>-->
<div id="index-section2">

<div class="container mt-5 pt-5">
  <h4 class="text-center mt-lg-5">Select a category</h4>
  <div class="row mt-lg-5">
    {% for category in categories %}
    <div class="col">
      <a href="{{category.id}}" class="btn btn-primary"
        >{{category.category}}</a>
      <br />
    </div>
    {% endfor %}
  </div>
</div>
<hr style="height:1px;border-width:0;color:gray;background-color:gray; ">

</div>
    {% endblock content %}
    </div>
